<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Donuts</title>
  </head>
  <body>
    <h1>Donut Inventory</h1>
    <ul>
      <% locals.donuts.forEach((donut) => { %>
      <li>
        <h3><%= donut.name %></h3>
        <p>quantity: <%= donut.quantity %></p>
        <p>price: $<%= donut.price %></p>

        <i><%= donut.description %></i>
        <p>type: <%= donut.type %></p>
        <p>shape: <%= donut.shape %></p>
        <p>filling: <%= donut.filling %></p>
        <p>toppings: <%= donut.toppings %></p>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
