<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Donuts</title>
    <link rel="stylesheet" href="../public/styles.css" type="text/css" />
  </head>

  <body>
    <div id="bg-modal">
      <div class="modal">
        <form id="form-modal" action="/inventory/update" method="POST">
          <div class="title-cont-form">
            <h2 id="title-form"></h2>
          </div>
          <div class="container-modal">
            <label for="name-donut">Name: </label>
            <input
              id="name-donut"
              type="text"
              name="name-donut"
              value="Black Hole"
              required
            />
            <!-- VARCHAR(255) UNIQUE NOT NULL -->

            <label for="quantity-donut">Quantity: </label>
            <input
              id="quantity-donut"
              type="number"
              name="quantity-donut"
              value="42"
              required
            />
            <!-- INT NOT NULL DEFAULT 1 -->

            <label for="description-donut">Description: </label>
            <textarea
              id="description-donut"
              name="description-donut"
            ></textarea>
            <div id="elements-cont-donut" class="elements-donut"></div>
            <div class="submit-cont-form">
              <button type="submit">Submit</button>
            </div>
            <!-- TEXT -->
          </div>
        </form>
      </div>
    </div>
    <div class="container-main">
      <div class="panel-inventory">
        <div class="header-inventory">
          <h1>Donut Inventory</h1>
          <button onClick="addDonut()">Add Donut</button>
        </div>
        <% locals.inventory.forEach((donut) => { %>
        <div>
          <div class="header-donut">
            <h3 class="donut"><%= donut.name %></h3>
            <button onClick="editDonut('<%= donut.id %>')">Edit Donut</button>
          </div>
          <div class="elements-donut">
            <span class="type"><%= donut.type %></span>
            <span class="shape"><%= donut.shape %></span>
            <% if (donut.filling !== null) { %>
            <span class="filling"><%= donut.filling %></span>
            <% } if (donut.toppings !== null) { %> <%
            donut.toppings.forEach((topping) => { %>
            <span class="topping"><%= topping %></span>
            <% })} %>
          </div>
          <p>quantity: <%= donut.quantity %></p>
          <p>price: $<%= donut.price %></p>
          <i><%= donut.description %></i>
        </div>
        <% }) %>
      </div>
      <div class="panel-elements">
        <div class="header-elements">
          <h1>Donut Elements</h1>
        </div>
        <% locals.elements.forEach((element) => { %>
        <div>
          <div class="header-element">
            <button onClick="editElement('<%= element.category %>')">
              Edit <%= element.category %>
            </button>
            <h2 class="element"><%= element.category %></h2>
          </div>
          <div class="elements-element">
            <% element.names.forEach((name) => { %>
            <span class="<%= element.category.toLowerCase().slice(0,-1) %>"
              ><%= name %>
            </span>
            <% }) %>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
  </body>
  <script>
    window.appData = {
      inventory: <%- JSON.stringify(locals.inventory) %>,
      elements: <%- JSON.stringify(locals.elements) %>
    }
    console.log(window.appData)
  </script>
  <script src="../public/script.js"></script>
</html>
