<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Donuts</title>
    <link rel="stylesheet" href="../public/styles.css" type="text/css" />
  </head>

  <body>
    <div class="bg-modal">
      <div class="modal"></div>
    </div>
    <div class="container-main">
      <div class="panel-inventory">
        <div class="header-inventory">
          <h1>Donut Inventory</h1>
          <button onClick="addDonut()">Add Donut</button>
        </div>
        <% locals.inventory.forEach((donut) => { %>
        <div>
          <div class="header-donut">
            <h3 class="donut"><%= donut.name %></h3>
            <button onClick="editDonut('<%= donut.id %>')">Edit Donut</button>
          </div>
          <span class="type"><%= donut.type %></span>
          <span class="shape"><%= donut.shape %></span>
          <% if (donut.filling !== null) { %>
          <span class="filling"><%= donut.filling %></span>
          <% } if (donut.toppings !== null) { %> <%
          donut.toppings.forEach((topping) => { %>
          <span class="topping"><%= topping %></span>
          <% })} %>
          <p>quantity: <%= donut.quantity %></p>
          <p>price: $<%= donut.price %></p>
          <i><%= donut.description %></i>
        </div>
        <% }) %>
      </div>
      <div class="panel-elements">
        <div class="header-elements">
          <button>Add Element</button>
          <h1>Donut Elements</h1>
        </div>
        <% locals.elements.forEach((element) => { %>
        <div class="header-element">
          <button>Edit Element</button>
          <h2 class="element"><%= element.category %></h2>
        </div>
        <% element.names.forEach((name) => { %>
        <span class="<%= element.category.toLowerCase().slice(0,-1) %>"
          ><%= name %>
        </span>
        <% })}) %>
      </div>
    </div>
  </body>
  <script>
    const inventory = <%- JSON.stringify(locals.inventory) %>;
    console.log(inventory)

    function addDonut() {
      console.log("add donut");
    }

    function editDonut(donut_id) {
      console.log(donut_id);
    }

    function openModal() {}
  </script>
</html>
