<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Donuts</title>
    <link rel="stylesheet" href="../public/styles.css" type="text/css" />
  </head>

  <body>
    <div id="bg-modal">
      <div class="modal">
        <form action="/inventory/update" method="POST">
          <div class="form-modal">
            <label for="donut_name">Donut Name</label>
            <input
              id="donut_name"
              type="text"
              name="donut_name"
              value="Black Hole"
              required
            />
            <!-- VARCHAR(255) UNIQUE NOT NULL -->

            <label for="donut_quantity">Donut Quantity</label>
            <input
              id="donut_quantity"
              type="number"
              name="donut_quantity"
              value="42"
              required
            />
            <!-- INT NOT NULL DEFAULT 1 -->

            <label for="donut_description">Description</label>
            <textarea id="donut_description" name="donut_description">
description value</textarea
            >
            <div id="donut_elements_cont" class="elements-donut"></div>
            <button type="submit">Submit</button>
            <!-- TEXT -->
          </div>
        </form>
      </div>
    </div>
    <div class="container-main">
      <div class="panel-inventory">
        <div class="header-inventory">
          <h1>Donut Inventory</h1>
          <button onClick="addDonut()">Add Donut</button>
        </div>
        <% locals.inventory.forEach((donut) => { %>
        <div>
          <div class="header-donut">
            <h3 class="donut"><%= donut.name %></h3>
            <button onClick="editDonut('<%= donut.id %>')">Edit Donut</button>
          </div>
          <div class="elements-donut">
            <span class="type"><%= donut.type %></span>
            <span class="shape"><%= donut.shape %></span>
            <% if (donut.filling !== null) { %>
            <span class="filling"><%= donut.filling %></span>
            <% } if (donut.toppings !== null) { %> <%
            donut.toppings.forEach((topping) => { %>
            <span class="topping"><%= topping %></span>
            <% })} %>
          </div>
          <p>quantity: <%= donut.quantity %></p>
          <p>price: $<%= donut.price %></p>
          <i><%= donut.description %></i>
        </div>
        <% }) %>
      </div>
      <div class="panel-elements">
        <div class="header-elements">
          <h1>Donut Elements</h1>
        </div>
        <% locals.elements.forEach((element) => { %>
        <div>
          <div class="header-element">
            <button onClick="editElement('<%= element.category %>')">
              Edit <%= element.category %>
            </button>
            <h2 class="element"><%= element.category %></h2>
          </div>
          <div class="elements-element">
            <% element.names.forEach((name) => { %>
            <span class="<%= element.category.toLowerCase().slice(0,-1) %>"
              ><%= name %>
            </span>
            <% }) %>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
  </body>
  <script>
    function addDonut() {
      console.log("addDonut");
      modalModule.openModal();
      // modalModule.popModalInventory();
    }

    function editDonut(donut_id) {
      console.log(`editDonut: ${donut_id}`);
      modalModule.openModal();
      modalModule.popModalInventory(donut_id);
    }

    function editElement(element_category) {
      console.log(`editElement: ${element_category}`);
      modalModule.openModal();
    }

    const modalModule = (function () {
      const inventory = <%- JSON.stringify(locals.inventory) %>;
      const elements = <%- JSON.stringify(locals.elements) %>;
      const bg_modal = document.getElementById("bg-modal");
      // console.log(inventory);
      // console.log(elements);

      const donutName = document.getElementById("donut_name");
        const donutQuantity = document.getElementById("donut_quantity");
        const donutDescription = document.getElementById("donut_description");
        const donutElementsContainer = document.getElementById("donut_elements_cont")

      function openModal() {
        console.log("openModal");
        bg_modal.style.display = "block";
        bg_modal.addEventListener("click", modalClick);
      }

      function modalClick(event) {
        console.log("modalClick");
        if (event.target === bg_modal) {
          closeModal();
        }
      }

      function closeModal() {
        console.log("closeModal");
        bg_modal.style.display = "";
        bg_modal.removeEventListener("click", modalClick);
      }

      function popModalInventory(donut_id = 0) {
        console.log("popModalInventory");

        if (donut_id === 0) {
          return;
        }

        const originalDonutElements = document.getElementById(
          `${donut_id}_elements`
        );

        const donut = inventory.find((donut) => donut.id === Number(donut_id));


        donutName.value = donut.name;
        donutQuantity.value = donut.quantity;
        donutDescription.textContent = donut.description;

        // donut elements
        donutElementsContainer.replaceChildren();

        const typeSpan = document.createElement('span');
        typeSpan.classList.add('type')
        typeSpan.textContent = donut.type;
        donutElementsContainer.appendChild(typeSpan)

        const shapeSpan = document.createElement('span');
        shapeSpan.classList.add('shape')
        shapeSpan.textContent = donut.shape;
        donutElementsContainer.appendChild(shapeSpan)

        if (donut.filling !== null) {
          const fillingSpan = document.createElement('span');
          fillingSpan.classList.add('filling')
          fillingSpan.textContent = donut.filling;
          donutElementsContainer.appendChild(fillingSpan)
        }

        if (donut.toppings !== null) {
          donut.toppings.forEach((topping) => {
            const toppingSpan = document.createElement('span');
            toppingSpan.classList.add('topping')
            toppingSpan.textContent = topping
            donutElementsContainer.appendChild(toppingSpan)
          })
        }



        // donutElements = originalDonutElements.cloneNode(true);
        // donutElementsContainer.replaceChildren();
        // donutElementsContainer.appendChild(donutElements);
      }

      return {
        openModal,
        modalClick,
        closeModal,
        popModalInventory
      };
    })();



    function popModalElements() {}
  </script>
</html>
